.venv
.env
__pycache__/
.ipynb_checkpoints/
*.pyc
synthetic_data_for_classification.jsonl
dev_track_a.jsonl
dev_track_b.jsonl
test_track_a.jsonl
test_track_b.jsonl
test_track_a_labels.jsonl
test_track_b_labels.jsonl